html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  background-color: #eee;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  min-height: 100%;
}

header {
  background: black;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
  color: white;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.new-task {
  font-size: 0;
  margin-top: 15px;
  display: flex;
}

.new-task__submit {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 0;
  flex: none;
  font-size: 0;
}

.new-task__input,
.new-task__number {
  color: white;
}

.new-task__select {
  background: none;
  border: 0;
  color: white;
  font-size: 14px;
  width: 100%;
}

.crossword-upload {
  padding: 10px;
  background: none;
}

.new-task input:focus{
  outline: 0;
}

.new-task__input {
  flex: 1 1 auto;
  border: 1px solid white;
  background: transparent;
  display: inline-block;
  border-right: 0;
  font-size: 14px;
  height: 35px;
  line-height: 35px;
  padding: 0 8px;
}

.new-task__input .new-task__input--word {
  border-right: 1px solid white;
}

.new-task__input--number {
  max-width: 100px;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.thumbnail {
  width: 100%;
  display: block;
}

.is-hidden {
  display: none;
}

.task {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}

.task:after {
  display: block;
  content: "";
  width: 1px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: -22px;
  left: 23px;
  z-index: 0;
}

.task,
.task__replies {
  display: flex;
  flex-direction: column;
}

.task__suggestion {
  z-index: 1;
}

.task__suggestion,
.task__reply-text {
  display: flex;
  padding: 15px;
  border-bottom: #eee solid 1px;
  background: white;
  flex-direction: row;
}

.task__reply {
  margin-left: 48px;
  position: relative;
}

.task__reply-text {
  z-index: 0;
}

.task__reply:after {
  display: block;
  content: "";
  width: 100%;
  position: absolute;
  height: 1px;
  top: 50%;
  left: -24px;
  background: red;
  z-index: -1;
}

.task__suggestion-content {
  flex: 1 1 auto;
}

.task__suggestion-text {
  margin-left: 10px;
}

.task__suggestion-text--checked {
  position: relative;
}

.task__suggestion-text--checked:after {
  display: block;
  content: '😎';
  position: absolute;
  left: 100%;
  margin-left: 5px;
  top: -3px;
}

.clue {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0;
}

.clue__character {
  font-size: 14px;
  border: 1px solid black;
  border-right: 0;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
}

.clue__character:last-child {
  border-right: 1px solid black;
}
